
*{
  padding: 0;
  margin: 0;
  
}
html{
  font-size: 16px
}
.elemento-personalizado::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.elemento-personalizado::-webkit-scrollbar-thumb {
  background-color: #1f2937; /* color de la barra de scroll */
  border-radius: 4px; /* bordes redondeados */
}

.elemento-personalizado::-webkit-scrollbar-track {
  background-color: #d1d5db; /* color de fondo de la pista */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --azul-300:#3A3AE4
}
.background-image{
  background-image: url(https://c4.wallpaperflare.com/wallpaper/744/520/23/spider-man-games-art-vertical-artwork-wallpaper-preview.jpg)
}